/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BrutGrotesque';
    font-style: normal;
    font-weight: 400;
    src: url('BrutGrotesque/.eot?'); /* IE9 Compat Modes */
    src: local(''),
        url('BrutGrotesque/BrutGrotesque-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
        url('BrutGrotesque/BrutGrotesque-Regular.otf') format('woff2'), /* Super Modern Browsers */
        url('BrutGrotesque/BrutGrotesque-Regular.otf') format('woff'), /* Modern Browsers */
        url('BrutGrotesque/BrutGrotesque-Regular.otf') format('truetype'), /* Safari, Android, iOS */
        url('BrutGrotesque/BrutGrotesque-Regular.otf') format('svg'); /* Legacy iOS */
    }

body{
    font-family: 'BrutGrotesque', Helvetica, Arial, Sans-Serif;
    font-size: 19px;
    color: #2d2d2d;
    background-color: #BB010B;
}

h1,h2,h3,h4,h5,nav a{
    font-family: 'BrutGrotesque', Helvetica, sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

header{
    padding: 30px 20px;
}

header h1{
    margin: 0px 20px 0px 0px;
}

.wide{
    background-color: #FAF8F8;
    color: #707070;
}

nav li{
    display: inline-block; /* display inline ma con gestione del margin verticale */
    margin-left: 20px;
    list-style: none; /* toglie i pallini dati da ul e li */
    text-transform: capitalize;
}
nav a{
    text-decoration: none; /* azzero stili di default */
    color: #707070;
    font-size: 30px;
}

nav a:hover,
nav .active{
    color:#BB010B;
}

main{
    margin-top: 30px;
}
main p{
    text-align: left;
    margin-top: 10px;
    /* font-family: Helvetica; */
}
main .fas{
    font-size: 50px;
}

main .line{
    height: 50px;
    background-color: #23856de5;
    color: #FAF8F8;
    text-align: center;
    align-items:center;
    margin: 30px 0px;
}

main h2{
    padding: 10px;
}

#banner{
    width: 100%;
    height: 350px;
    background-size: cover;
    margin-top: 30px;
    background: url(img/istockphoto-1352121696-170667a.jpg) no-repeat center center ;/* non ripete l'immagine finchè c'è spazio e la tiene al centro sia verticale che orizzontale */
    /* istruzioni flexbox per scritta h3 */
    color: #FAF8F8;
    display: flex;
    flex-direction: row;
    justify-content: center; /* allinea orizzontale al centro */
    align-items: center; /* allinea verticale al centro */
}

#banner h3{
    font-size: 150%;
    color: #FAF8F8;
    background-color: #23856de5;
    padding: 20px;
}

#banner1{
    width: 100%;
    height: 500px;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url(img/annie-spratt-cS4fiNSK2c4-unsplash\ -\ dimensioni\ grandi.jpeg) no-repeat center center ;/* non ripete l'immagine finchè c'è spazio e la tiene al centro sia verticale che orizzontale */
    display: flex;
    flex-direction: row;
    justify-content: right; /* allinea orizzontale al centro */
    align-items: center;
}

#banner1 div p{
    background-color: #23856de5;
    color: #FAF8F8;
    margin: 20%;
    padding: 20px;
}

footer{
    padding: 10px 20px 10px;
    margin-top: 30px;
    background-color: #006F57;
    color: #FAF8F8;
    /* a tre cifre è top | left+right | bottom */
}
footer .colonna{
    padding: 10px 0px;
}
footer .colonna a{
    color: #fff;
    text-decoration: underline;
}
footer .colonna a:hover{ /*  */
    color: #009eee;
}

/* CSS PER PAGINA STAFF  */

/* Griglia con Flexbox */
.flexgrid{
    display: flex;
    /* display: -webkit-flex;
    display: -ms-flexbox;
    prefissi per vecchi browser */
    flex-wrap:wrap ;/* voglio che ogni box card di gandalf possa andare a capo se non c'è spazio */
    justify-content: center;
    gap: 20px;
}

.pos1{
    position: relative;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    overflow: hidden;/* nascondi elemento se esce da contenitore */    
}
.pos1 img{
    transition: all 0.8s ease;
}
.pos1 img:hover{
    transform: scale(1.1);
}
.pos2{
    position: absolute;
    height: 100px;
    bottom: -50px;
    left: 0px;
    /* posizionamenti assoluti: top bottom left right */
    background-color: rgb(250,248,248,0.5);
    padding: 5px 10px;
    color: #BB010B;
    width: 100%;
    z-index: 2; /* ordinamento livelli, più è alto più è vicino a noi */
    transition: all 0.9s linear;
}
.pos2:hover{
    color: #BB010B;
    bottom: 0px;
}
main .fa-chevron-down{
    font-size: 20px;
}

/* FINE CSS PAGINA STAFF */

@media(min-width:768px){ 
    header, 
    footer,
    .grid_1,
    .grid_3{
        display: grid;    
    }
    header{grid-template-columns: 200px 1fr 200px;}
    .carrello{justify-self: end;
        align-self: center;}
    nav{justify-self:start;
        align-self:center;}
    main img{
        height: 300px;
        width: 300px;
        }
    
    .grid_3{
        grid-template-columns: repeat(3, 1fr);
        /* è la stessa cosa di scrivere:
            grid-template-columns: 1fr 1fr 1fr; */
    }
    /* impostazione per pagina about mono colonna */
    .grid_1{justify-content: end;}
    .grid_1 aside {width: 60vw;}
    .grid_1 div p{text-align: start;
        justify-content: end;}
    footer{
        grid-template-columns: repeat(2, 1fr);
        align-items: center; /* allineare verticalmente le cose */
    }
    footer .logo_footer{
        text-align: end;
    }
    .flexgrid img{
        width: 300px;
    }
}