/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BrutGrotesque';
    font-style: normal;
    font-weight: 400;
    src: url('BrutGrotesque/.eot?'); /* IE9 Compat Modes */
    src: local(''),
        url('BrutGrotesque/BrutGrotesque-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
        url('BrutGrotesque/BrutGrotesque-Regular.otf') format('woff2'), /* Super Modern Browsers */
        url('BrutGrotesque/BrutGrotesque-Regular.otf') format('woff'), /* Modern Browsers */
        url('BrutGrotesque/BrutGrotesque-Regular.otf') format('truetype'), /* Safari, Android, iOS */
        url('BrutGrotesque/BrutGrotesque-Regular.otf') format('svg'); /* Legacy iOS */
    }

body{
    font-family: 'BrutGrotesque', Helvetica, Arial, Sans-Serif;
    font-size: 19px;
    color: #2d2d2d;
    background-color: #BB010B;
}
img{
    max-width: 100%;
    height: auto;
}

header{
    padding: 30px 20px;
}

.wide{
    background-color: #FAF8F8;
    color: #707070;
}

nav li{
    display: inline-block; /* display inline ma con gestione del margin verticale */
    margin-left: 20px;
    list-style: none; /* toglie i pallini dati da ul e li */
    text-transform: capitalize;
}
nav a{
    text-decoration: none; /* azzero stili di default */
    color: #707070;
    font-size: 30px;
}

nav a:hover,
nav .active{
    color:#BB010B;
}

@media(min-width:768px){ 
    header, 
    footer,
    .grid_1,
    .grid_3{
        display: grid;    
    }
    header{grid-template-columns: 200px 1fr;}
    nav{justify-self:start;
        align-self:center;}
    .grid_3{
        grid-template-columns: repeat(3, 1fr);
        /* è la stessa cosa di scrivere:
            grid-template-columns: 1fr 1fr 1fr; */
    }
    /* impostazione per pagina about mono colonna */
    .grid_1{justify-content: center;}
    .grid_1 article {width: 60vw;}
    .grid_1 img{width: 30vw;}
    footer{
        grid-template-columns: repeat(3, 1fr);
        align-items: center; /* allineare verticalmente le cose */
    }
    footer h4{
        text-align: center;
    }
    .flexgrid img{
        width: 300px;
    }
}